@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Baloo+Da+2&display=swap');


.nav-wrapper {
    padding: 0px 15px;
    background: linear-gradient(262deg, #ff7854, #fd267d);
}

.brand-logo {
    font-family: 'Pacifico', cursive;
}

.login-btn {
    font-family: 'Baloo Da 2', cursive;
    font-size: 22px;
}

.modal-trigger{
    font-family: 'Baloo Da 2', cursive;
    font-size: 23px;
}
