@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Baloo+Da+2&display=swap');

.center {
    display: block;
    margin: 0 auto;
    max-width: 500px;
}
h1, h4 {
    text-align: center;
    font-family: 'Pacifico', cursive;
}