.noPetContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dog-gif{
    width: 50%;
    margin: 10px;
}

.mypet-container{
    display: flex;
    flex-direction: column;
}

.mypet-card{
    display: flex;
}